@media (max-width: 1366px){
.Background-menu{
    background-color: black;
    background-attachment: scroll;
    height: 100vh;
    width: 100vw;
}

.Background-image{
    background-image: url("../imagen/background-menu.png");
    background-attachment: scroll;
    height: 100%;
    box-shadow: 0px -8px 43px 4px rgba(255, 255, 255, 0.2);
    padding: 30px;
}

.Module-menu, .Module-orders, .Btn-logOut{
    margin-top:25px;
    width: 197px;
    height: 76px;
    background: none;
    border:none;
}
.Module-menu{ border-bottom: 5px solid #FFFFFF;}
.Module-orders{ border-bottom: 1px solid #FFFFFF;}
.Btn-logOut{
    border-bottom: 1px solid #FFFFFF;
    position: fixed;
}
.Options{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 32px;
    text-decoration: none;
    color: white;
}
.Menu-options{
    width: 338px;
    height: 70px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.Menu-options-container{
    transform: rotate(-90deg);
    position: fixed;
    left: -270px;
    gap: 20px;
    top: 550px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 26px;
    display: flex;
    text-transform: uppercase;
    color: rgb(31, 31, 31)
}
.Container-all-menu{
    display: flex;
}
.Each-image{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 30px;
    margin-left: 140px;
}
.Image-menu-name{
    width: 332px;
    height: 95px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 0px 0px 20px 20px;
}
.Order-table-container{
    width: 477px;
    height: 759px;
    background: #E5E5E5;
    border-radius: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Client-name{
    height: 25px;
    width: 180px;
    font-size: 20px;
}

.Client-name::placeholder{
    font-size: 20px;
}

.Client{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 25px;
    margin:10px;
}

.Table-order{
    // border: solid 1px black;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
}
.Row-head th{
    width: 120px;

}
.Row-body{
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.Items-products-table{
    width: 130px;
    height: 50px;
    text-align: center;
}


// css para menu catalogo de productos
.Image-products-container{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    justify-content: center;
    width: 620px;
    margin-left: 100px;
    row-gap: 20px;
    align-items: center;
    padding: 50px;
}
.product-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 350px;
    width: 250px;
}
.Price-product{
    position: absolute;
    height: 33px;
    width: 70px;
    margin: 0;
    text-align: center;
    color: #FFFFFF;
    background-color: red;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 520;
    font-size: 20px;
    border-radius: 0px 0px 10px 10px;
}
.Image-product{
    width: 250px;
    height: 240px;
    background-color: #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    display: block;
}
.Image-menu-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background: white;
}
.Btn-cantidad-plus{
    width: 52px;
    height: 70px;
    background: #CF7500;
    border-radius: 0px 0px 0px 20px;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 25px;
    border:none;

}
.Name-product{
    width: 150px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    border: none;
    background: white;
}
.Btn-cantidad-minus{
    width: 52px;
    height: 70px;
    background: #CF7500;
    border-radius: 0px 0px 20px 0px;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 25px;
    border:none;
}

}