@media (max-width: 1366px){
.Background-image-orders{
    background-image: url("../imagen/background-menu.png");
    background-attachment: scroll;
    height: calc(100% - 110px);
    box-shadow: 0px -8px 43px 4px rgba(255, 255, 255, 0.2);
    padding: 0px;
}

.Order-status-nav{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 70px;
}
.Btn-pending{
    width: 268px;
    height: 68px;
    background: #FF0000;
    border-radius: 0px 0px 15px 15px;
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 25px;
    border: none;
}

.Btn-delivering{
    width: 268px;
    height: 68px;
    background: #38E54D;
    border-radius: 0px 0px 15px 15px;
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 25px;
}

.Btn-delivered{
    width: 268px;
    height: 68px;
    background: #FF9409;
    border-radius: 0px 0px 15px 15px;
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 25px;
}
.Btn-pending-activated{
    height: 95px;
    width: 268px;
    background: #FF0000;
    border-radius: 0px 0px 15px 15px;
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 25px;
    border: none;
}
.Btn-delivering-activated{
    height: 95px;
    width: 268px;
    background: #38E54D;
    border-radius: 0px 0px 15px 15px;
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 25px;
}
.Btn-delivered-activated{
    height: 95px;
    width: 268px;
    background: #FF9409;
    border-radius: 0px 0px 15px 15px;
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 25px;
}

.Order-card{
    width: 350px;
    height: 350px;
    padding: 20px;
    background: white;
    border-radius: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Client-name-order{
    display: flex;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 20px;
    text-transform: capitalize;
}

.Orders-container{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.Btn-Card-Waiter-Deliver, .Btn-Card-Chef-Ready{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 195px;
    height: 59px;
    box-shadow: 2px 4px 9px rgb(173 173 173 / 54%);
    border-radius: 15px;
    border: none;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 25px;
    color: #ffffff;
    margin-top: 25px;
}

.Btn-Card-Waiter-Deliver{
    background: #38E54D;
}

.Btn-Card-Chef-Ready{
    background:#FF0000;
}

.Hidenn-Btn-Order-Deliver{
    display: none;
}

.Hidenn-Btn-Chef-Ready{
    display: none;
}


}