// @media (max-width: 1366px){
.Background-image-orders{
    background-image: url("../imagen/background-menu.png");
    height: calc(100% - 66px);
    box-shadow: -1px -0px 43px 4px rgba(255, 255, 255, 0.2);
    padding: 0px;
    margin-top: 15px;
}

.Order-status-nav{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
}
.Btn-pending, .Btn-delivering, .Btn-delivered{
    width: 180px;
    height: 45px;
    border-radius: 0px 0px 10px 10px;
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 14px;
    border: none;
}

.Btn-pending{
    background: #FF0000;
}

.Btn-delivering{
    background: #38E54D;
}

.Btn-delivered{
    background: #FF9409;
}
.Btn-pending-activated, .Btn-delivering-activated, .Btn-delivered-activated{
    height: 60px;
    width: 180px;
    border-radius: 0px 0px 10px 10px;
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 14px;
    border: none;
}

.Btn-pending-activated{
    background: #FF0000;
}

.Btn-delivering-activated{
    background: #38E54D;
}
.Btn-delivered-activated{
    background: #FF9409;
}

.Orders-container{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 450px;
}

.Orders-container::-webkit-scrollbar{
    width:10px;
    background: none;
}
.Orders-container::-webkit-scrollbar-thumb{
    width:10px;
    background-color: #eaeaea;
    border-radius: 5px;
}

.Orders-container::-webkit-scrollbar-thumb:hover{
    width:10px;
    background-color: #cdcdcdbb;
    border-radius: 5px;
    transition:0.1s
}

.Order-card{
    width: 240px;
    height: 260px;
    // padding: 20px;
    background: white;
    border-radius: 10px;
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 9px dashed #f6020273;
    /* border-top: 9px dashed #f6020273; */
    box-sizing: border-box;
}

.Client-name-order{
    display: flex;
    //font-family: "Poppins";
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 15px;
    text-transform: capitalize;
}

.Table-order-card{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 11px;
    text-align: center;
    margin: 0px 30px;
}

.Btn-Card-Waiter-Deliver, .Btn-Card-Chef-Ready{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 28px;
    box-shadow: 2px 4px 9px rgb(173 173 173 / 54%);
    border-radius: 10px;
    border: none;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 12px;
    color: #ffffff;
    margin-top: 25px;
}

.Btn-Card-Waiter-Deliver{
    background: #38E54D;
}

.Btn-Card-Chef-Ready{
    background:#FF0000;
}

.Hidenn-Btn-Order-Deliver{
    display: none;
}

.Hidenn-Btn-Chef-Ready{
    display: none;
}

.Duration-activated{
display: flex;
font-family: 'Poppins';
    font-weight: 600;
    font-size: 15px;
    color:#4f5250;

}

.Duration-inactivated{
display: none;
}

.InitialTime-activated{
    display: flex;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 15px;
    color:#4f5250;;
}
    
.InitialTime-inactivated{
    display: none;
}

// }