@media (max-width: 1366px){
    .Background-products{
        height: calc(100% - 163px);
        box-shadow: 0px -8px 43px 4px rgb(255 255 255 / 20%);
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Background-search-table-products{
        width: 810px;
        height: 752px;
    }
    .Background-input-add-product{
        width: 810px;
        height: 71px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
    }
    .Container-input-product{
        border: none;
        width: 608px;
        display: flex;
        background-color: white;
        align-items: center;
        justify-content: center;
        border-radius: 15px 0 0 15px;
    }
    .Icon-product{
        margin: 30px;
    }
    .Input-search-product{
        width: 520px;
        height: 71px;
        padding: 0;
        border: none;
        border-radius: 15px 0 0 15px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        color: #9F9F9F;
        outline: none;
    }
    .Button-add-product{
        width: 202px;
        height: 71px;
        border: none;
        background: #38E54D;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        border-radius: 0 15px 15px 0;
    }
    .Container-select-table-products{
        width:810px;
        height: 661px;
        margin-top: 22px;
        border-radius: 15px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Content-select{
        width: 287px;
    }
    .Select-library{
        width: 391px;
        margin-top: 31px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        // border-radius: 15px;
    }
    .css-1s2u09g-control{
        background-color: #38E54D;
    }
    .Select-type-product{
        // appearance: none;
    //     -webkit-appearance: none;
	// -moz-appearance: none;
    // display: inline-block;
    display: inline-block;
        width: 100%;
        height: 71px;
        margin-top: 31px;
    //     border: 1px solid rgba(209, 209, 209, 0.9);
    //     border-radius: 15px;
    //     background-color: yellow;
    //     text-align: center;
        // font-family: 'Poppins';
        // font-style: normal;
        // font-weight: 700;
        // font-size: 20px;
        // line-height: 30px;
        // color: #FFFFFF;
    //     border: none;
    }
    .Option-type-product{
       width: 10px;
//         background-color: #38E54D;
        text-align: center;
        font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 30px;
    }
    .Table-products{
        margin-top: 70px;
        background-color:#FFFFFF;
        width: 810px;
        text-align: center;    
        border: #D1D1D1 5px solid;
    }
    .Row-head-table-product{
        height: 56px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 38px;
    }
    .Item-table{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
    }






    .Background-info-product{
        background-color:white;
        width: 396px;
        height: 752px;
        margin-left: 32px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
    }
    .Image-product-data{
        width: 201px;
        height: 201px;
        margin: 55px 0;
        border-radius: 15px;
        text-align: center;
    }
    .Item-selected{
        background-color: #38E54D;
        color:#FFFFFF;
    }
    .Info-product{
        width: 300px;
        text-align: left;
        margin: 10px;
    }
    .Background-buttons{
        display: flex;
        gap:17px;
        margin-top: 70px;
    }
    .Btn-delete-product{
        width: 148px;
        height: 49px;
        background: #FF0000;
        border-radius: 15px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        border:none;
    }
    .Btn-update-product{
        width: 148px;
        height: 49px;
        background: #FF9000;
        border-radius: 15px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        border:none;
    }
}