.App {
  text-align: center;
font-family: 'Montserrat';
}

.App-logo {

  height: 5vmin;
  pointer-events: none;
}

// @media (prefers-reduced-motion: no-preference) {
//   // .App-logo {
//    // animation: App-logo-spin infinite 20s linear;
//   }
// }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Background-login{
    height: 100vh;
    background-image:  url("./imagen/background-burguer-queen.png");
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

.Button-login{
  width: 344px;
  height: 75px;
  background: #CF7500;
  border: none;
  border-radius: 40px;
}

.Text-button{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
}

.Nav-bar{
  background-color: red;

}
.Title{
  color:yellow;
}
.Text-button{
  color:white;
  text-decoration: none;
  text-transform: uppercase;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// estilos para tablet
@media (max-width: 1366px){
  //body {
    //height: 100vh;
    //background-image:  url("./imagen/fondo-burguer-queen.png");
   // background-size:cover;
  //}
  
  .Form-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    color: white;
    background: linear-gradient(180.16deg, rgba(0, 0, 0, 0.5) 0.14%, rgba(0, 0, 0, 0.0985401) 144.65%, rgba(0, 0, 0, 0) 180.12%);
    width: 500px;
    background-blend-mode: luminosity;
    height: 100vh;
    box-shadow: 0px 4px 5px 3px rgb(41 23 23 / 22%);
  }
  .Form-input{
    display: flex;
    align-items: center;
    height: 68px;
    width: 344px;
    border-bottom: 1px solid;
    padding-left: 20px;
    box-sizing: border-box;
  }
  .Icon-login{
    height:27px ;
  }
  .Input-login{
    width: 280px;
    border: none;
    background: none;
    color: white;
    font-family: 'Montserrat';
    margin-left: 20px;
    font-size: 20px;
    font-weight: 500;
  }

  .Input-login ::placeholder{
    color: white;
    font-size: 20px;
    font-weight: 500;
  }

  .Text-button{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
  }
}
